
.header-container {
  background-color: var(--background);
  position: fixed;
  width: 100%;
  padding-top: 1.5625rem;
  padding-bottom: 1.5625rem;
  box-shadow: 0 0 29px 0 rgba(0, 0, 0, 0.5);
}

.header-nav {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.header-menu {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.header-nav-item {
  margin: 0 0.625rem;
}

.header-nav-link {
  padding: 0 10px;
  color: var(--white);
  transition: color 0.5s;
  font-size: 18px;
}

.header-nav-link:hover{
  color: var(--yellow);
}

.nav-selected {
  border-radius: 20px;
  background-color:var(--white);
  color: var(--black);
  padding: 0.4375rem 1.875rem; 
  transition: 0.5s;
}

.nav-selected:hover {
  color: var(--black);
  background-color: var(--white);
  font-weight: bold;
}

/* ESTILOS MENÚ HAMBURGUESA */
.header-hidden-menu {
  color: var(--white);
  position: relative;
  min-height: 30px;
  margin-bottom: 0;
  width: 100%;
}

.header-hidden-menu a {
  display: block;
  position: relative;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid white;
  text-shadow: 1px 1px black;
  list-style: none;
  padding: 0.625rem;
  text-align: center;
}

ul .header-menu-box {
  margin-top: 0.5rem;
  width: 100%;
}

.header-hidden-menu input[type="checkbox"], .header-hidden-menu .fa-bars, .header-hidden-menu .fa-times {
  position: absolute;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.header-hidden-menu .fa-bars, .header-hidden-menu .fa-times {
  font-size: 30px;
  pointer-events: none;
}

li {
  list-style: none;
}

.header-hidden-menu input[type="checkbox"] {
  opacity: 0;
}

.header-hidden-menu nav {
  display: none;
}

.header-hidden-menu input:checked ~ nav {
  display: block;
}

.header-hidden-menu input:checked ~ .fa-bars {
  display: none;
}

.header-hidden-menu input:not(:checked) ~ .fa-times {
  display: none;
}

/*ESTILO PARA RESPONSIVE*/

@media (max-width:1023px){
  .header-nav {
    display: none;
  }
}

@media (min-width:1024px) {
  .header-hidden-menu {
    display: none;
  }
}

