:root {
  --background: rgb(54, 57, 63);
  --background2: #32353B;
  --yellow: rgb(255, 213, 17);
  --black: rgb(29, 29, 27);
  --white: rgb(255,255,255);
}

.quote {
  background-color: var(--yellow);
}

.quote-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  color: var(--black);
}

.quote-container i {
  font-size: 5rem;
  padding-bottom: 2.5rem;
}

.quote-text {
  text-align: center;
  font-size: 1.2rem;
  padding-bottom: 40px;
}

.quote-autor {
  text-align: center;
  padding-bottom: 100px;
  font-weight: bold;
}

@media (max-width:767px){
  .quote{
    width: 100%;
    padding: 0.625rem;
    text-align: center;
  }
  .quote-container{
    padding-top: 15px;
  }
  .quote-container i {
    font-size: 3rem;
  }
  .quote-text {
    font-size: 1rem;
  }
  .quote-autor {
    padding-bottom: 0.9375rem;
    font-size: 1.25rem;
  }
}  