
.projects {
  background-color: var(--background);
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.projects-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6.25rem 0 1rem 0;
}

.projects-title {
  padding-top: 0.9375rem;
  font-size: 3.125rem;
}

.projects-description {
  text-align: center;
  padding-top: 1.25rem;
}

.projects-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2.1875rem 0 3rem;
}

.projects-item {
  width: 345px;
  height: 345px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 4%;
  margin: 0.75em;
  border: solid 1px rgba(255, 255, 255, 0.2);
  background-color: var(--background);
  color: var(--white);
  transition: 0.2s;
}

.projects-item-text {
  text-align: center;
  padding-bottom: 35px;
  font-weight: 300;
  font-size: 1.125rem;
}

.projects-item-img {
 padding: 1.25rem 0.9375rem;
 display: block;
 width: 100%;
}

.projects-item:hover {
  border: solid 2px var(--yellow);
  color: var(--yellow);
}

@media (max-width:767px){
  .projects {
    width: 100%; 
  }
  .projects-title{
    font-size: 35px;
  }
  .projects-description {
    font-size: 15px;
  }
  .projects-item{
    width: 270px;
    height: 270px;
  }
}  