
.footer-container {
  width: 100%;
  background-color: var(--yellow);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-nav-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 0.9375rem;
  padding-top: 5rem;
  list-style: none;
}

.footer-nav-item {
  font-weight: bold;
  padding-right: 0.9375rem;
}

.footer-nav-link {
  color: var(--black);
}

.footer-contact-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
  font-size: 1.25rem;
  padding-top: 1.875rem;
}

.footer-social-item {
  margin: 0.3125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.footer-social-link {
  margin-right: 0.5rem; 
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  border: solid 1px var(--black);
  background-color: var(--black);
  border-radius: 50%;
  transition: 0.2s;
  padding: 0.8125rem; 
}

.footer-icon {
  font-size: 0.9375rem;
}

.footer-social-link:hover {
  background-color: var(--yellow);
  color: var(--black);
}

.footer-text {
  text-align: center;
  color: var(--black);
  margin: 1.875rem 0 4.375rem 0;
  font-weight: bold;
  font-size: 1rem;
}

@media (max-width:767px){
  .footer-container{
    width: 100%;
    padding: 0.625rem;
  }
  .footer-nav {
    display: none;
  }
}  
