:root {
  --background: rgb(54, 57, 63);
  --background2: #32353B;
  --yellow: rgb(255, 213, 17);
  --black: rgb(29, 29, 27);
  --white: rgb(255,255,255);
}

.contact {
  background-color: var(--background2);
  width: 100%;
  padding: 150px;
  display: flex;
  justify-content: center;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 900px;
  border: solid 2px var(--white) ;
  border-radius: 10px;
  background-color: var(--background);
  text-align: left;
  padding: 20px 50px;
}

.contact-me:first-of-type{
  padding-right: 15px;
}

.contact-me:last-of-type{
  padding-left: 20px;
}

.contact-title {
  margin-bottom: 20px;
  font-size: 30px;
}

.contact-description {
  font-size: 14px;
  max-width: 350px;
}

.contact-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.contact-social-item {
  display: flex;
  margin: 5px 0;
}

.contact-social-link {
  color: white;
  padding: 5px 7px;
  align-items: center;
}

.contact-social-icon {
  color: var(--white);
  margin-right: 10px;
  padding: 5px;
  border-radius: 50%;
  font-size: 1.2rem;
  width: 2.2rem;
  height: 2.2rem;
  line-height: 2.2rem;
}

.contact-social-link:hover {
  color: var(--yellow);
}

.contact-social-link:hover .contact-social-icon {
  background-color: var(--yellow);
  color:var(--black);
}

.contact-me {
  width: 50%;
  margin: 30px;
}

.form .form-box {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.form .name-lastname-box{
  display: flex;
  justify-content: space-between;
}

.form .form-label {
  display: block;
  margin: 5px 0px 5px 0px;
}

input, textarea {
  border-radius: 20px;
  background-color: var(--white);
  border: 1px solid var(--black);
  width: 100%;
  color: var(--black);
  padding: 10px 12px;
}

.form-button {
  border-radius: 25px;
  background-color:var(--yellow);
  color: var(--black);
  border: 0;
  font-size: 16px;
  padding: 8px 20px;
}